/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
*.log
*.tmp

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

.DS_Store
Thumbs.db

docs/performance.csv
docs/performance-plots/*.png
docs/*.pdf
