# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
*.log
*.tmp

# IntelliJ / Eclipse / VS Code
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Output artifacts
docs/performance.csv
docs/performance-plots/*.png
docs/*.pdf
